<!DOCTYPE html>
<html>
<head>
    <title>Result data</title>
</head>
<body>
    <h1>Result data</h1>
    
    <table>
        <tr>
            <th>ID</th>
            <th>Price</th>
        </tr>
        <tr>
            <td th:text="${prices.PRODUCT_ID}"></td>
            <td th:text="${prices.PRICE_LIST}"></td>
        </tr>
    </table>

</body>
</html>