<!DOCTYPE html>
<html>
<head>
    <title>Return Data</title>
</head>
<body>
    <h1>Lista de precios</h1>
    <table>
        <tr>
            <th>PRODUCT_ID</th>
            <th>BRAND_ID</th>
            <th>CURR</th>
            <th>PRICE_LIST</th>
            <th>PRIORITY</th>
            <th>PRICE</th>
            <th>END_DATE</th>
            <th>START_DATE</th>
        </tr>
        <tr th:each="price : ${pricesList}">
            <td th:text="${price.PRODUCT_ID}"></td>
            <td th:text="${price.BRAND_ID}"></td>
            <td th:text="${price.CURR}"></td>
            <td th:text="${price.PRICE_LIST}"></td>
            <td th:text="${price.PRIORITY}"></td>
            <td th:text="${price.PRICE}"></td>
            <td th:text="${price.END_DATE}"></td>
            <td th:text="${price.START_DATE}"></td>
        </tr>
    </table>
</body>
</html>